<% var myModel; modelsData.forEach(model => { if(model.id == "kvuzatimun"){ myModel = model; %>
  <div class="row models">
    <% let colors = ["green","blue","yellow"]; let randColor = colors[Math.floor(Math.random() * 3)]
    %>
    <div class="col-12 model-item bc-<%=randColor%>">
      <h3><%=model.name%></h3>
      <div class="row">
        <div class="col-md-6">
          <%-model.ShortStory%>
          <h3>גלו את המודל</h3>
          <p>צפו במימושי המודל בשטח, עיינו בתוצרים והיחשפו לחוות דעת על המודל:</p>
          
      
            <div class="row ">
              <div class="col-md-4">
                <a href="models/<%= model.id %>#caseStudy<%= model.id %>">
                  <div class=" roundedDiv <%=randColor%>">
                    מקרי בוחן
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href="models/<%= model.id %>#tozarim<%= model.id %>">
                  <div class=" roundedDiv <%=randColor%>">
                    תוצרים
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href="models/<%= model.id %>#feedback<%= model.id %>">
                  <div class=" roundedDiv <%=randColor%>">
                    ביקורות
                  </div>
                </a>
              </div>
            </div>
      
      
      
          
        </div>
        <div class="col-md-6">
          <img src="<%=model.picture%>" style="width: 100%;" />
        </div>
      </div>
      <br />
      <br />
      <br />
     
      <div class="col-12 row">
    
        </div>
      </div>
    </div>
  </div>
 
  <% } }); %>
  
  <!-- FOOTER -->
