<% var myModel; modelsData.forEach(model => { if(model.id == "kvuzatImun"){ myModel = model; %>
<div id="<%=model.id%>">
  <div class="row">
    <div class="col-md-6">
      <h2><%=model.name%></h2>
      <hr />
      <p><%=model.Story%></p>
    </div>
    <div class="col-md-6">
      <div class="col-md-6 feedback bc-blue">
        <div class="container mt-4" id="feedback">
          <div class="row">
            <aside class="col-md-12">
              <div class="maincontent feedback">
                <h5>מה בלנדרים נוספים חשבו על המודל הזה</h5>

                <div class="feedback-items">
                  <% var counter = 0 %> <% feedbackData.forEach(function (feedback) {%> <%
                  if(feedback.model == model.id){ %> <% if(counter != 3){ %>
                  <div class="row">
                    <div class="col-2 posneg">
                      <%if (feedback.posneg == "pos") { %>
                      <span style="color: #90c553; font-weight: 700;">+</span>
                      <% } else {%>
                      <span style="color: red; font-weight: 700;">-</span>
                      <% } %>
                    </div>
                    <div class="col-10">
                      <div class="feedback-item item-list media-list">
                        <div class="feedback-item media">
                          <div class="feedback-info media-body">
                            <div class="feedback-head">
                              <div class="feedback-title">
                                <%=feedback.title%>
                              </div>
                              <small><%=feedback.name%></small>
                            </div>
                            <div class="feedback-message"><%=feedback.message%></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <% counter ++; %> <% } %> <% } %> <% })%>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% } }); %>
