<!-- [REST OF YOUR PAGE] -->
<span id="yourBlended"></span>
<div id="page-contents " style="margin-top: 5%;">
  <div id="headerBanner">
    <a class="onmobilehidden" href="/#blendedSystem"
      ><img src="/images/header.png" alt="headerIMG"
    /></a>
    <a class="ondeskhidden" href="/#blendedSystem"
      ><img src="/images/mobileHeader.png" alt="headerIMG"
    /></a>
  </div>
  <!-- section "whatsyour" -->
  <%- include('./partials/modelsSystem.ejs') %>
  <img class="ondeskhidden" src="/images/mobileBackground.png" style="width: 100%;" />

  <!-- sextion "whatis"-->
  <%- include('./partials/whatIs.ejs') %>
  <!-- section "howto" -->
  <%- include("./partials/howTo.ejs") %>

  <!--section tools-->
  <%- include("./partials/tools.ejs") %>

  <!--section aboutUS-->

  <%- include("./partials/aboutUs.ejs") %>
</div>
<%-include(`./partials/topFunction`) %>
