<% var myModel; modelsData.forEach(model => { if(model.id == modelID){ myModel = model; %>
<div class="row models">
  <% let colors = ["green","blue","yellow"]; let randColor = colors[Math.floor(Math.random() * 3)]
  %>
  <div class="col-12 model-item bc-<%=randColor%>">
    <h2 style="color: white"><%=model.name%></h2>
    <div class="row">
      <div class="col-md-6">
        <%-model.ShortStory%>
        <a id="showDescBtn" href="#" onclick="showDescription()" 
          >קרא/י עוד..</a
        >
        <br/>
        <br/>
        <div class="description"><%-model.Story%></div>
        <h5 style="color: white; font-weight: 800; bottom: 0;">גלו את המודל</h5>
        <p>צפו במימושי המודל בשטח, עיינו בתוצרים והיחשפו לחוות דעת על המודל:</p>
        <div class="row">
          <div class="row col-md-12">
            <div class="col-md-4">
              <a href="<%= model.id %>#caseStudy<%= model.id %>">
                <div class="roundedDiv <%=randColor%>" style="color: #333333;">
                  מקרה בוחן
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="<%= model.id %>#tozarim<%= model.id %>">
                <div class="roundedDiv <%=randColor%>" style="color: #333333;">
                  תוצרים
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="<%= model.id %>#feedback<%= model.id %> ">
                <div class="roundedDiv <%=randColor%>" style="color: #333333;">
                  ביקורות
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 row">
        <div class="col-2">

        </div>
        <div class="col-8">
           <img src="<%=model.picture%>" style="width: 100%;" />
        </div>
        <div class="col-2">
          
        </div>
       
      </div>
    </div>
    <br />
   
    
    
    
  </div>
</div>
<hr class="ondeskhidden"/>
<div id="caseStudy<%= model.id %>" class="row bc-grey">
  <div class="col-md-6" style="padding-right: 5%; ">
    <div class="model-item">
      <h2>מקרה בוחן</h2>
      <p>צפו ב:</p>
      <h2 ></h2style><%-model.case_studies_name%></h2>
      <h5 ><%-model.case_studies_interName%></h5>
      <p><%-model.case_studies_story%></p>
      <div class="col-md-12 row"  style="padding-top: 5%;">
        <div class="col-6" style="border-left: 3px solid lightgrey;">
          <img src="<%-model.case_studies_caseLogo%>" style="width: 100%;" />
        </div>
        <div class="col-6">
          <h5 style="text-align: center;  ">
            מומחי התוכן
          </h5>
          <div class="row">
            <%-model.case_studies_instructors%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  class="col-md-6">
    <img id="clickImg" style="width: 100%; cursor: pointer;" src="<%=model.case_studies_pic%>" />
     <!-- Button trigger modal -->
<button id="btnForVideo" type="button" style="visibility: hidden;" class="btn btn-primary video-btn" data-toggle="modal" data-src="<%=model.case_studies_video%>" data-target="#myModal">
  Play Video 1 - autoplay
</button>
  </div>
</div>
<hr class="ondeskhidden"/>
<div class="row models" id="tozarim<%= model.id %>" style="padding: 5%;">
  <div class="container-fluid ">
    <h2>משאבי למידה ותוצרים</h2>
    <div class="row">
      <% model.case_studies_products.forEach(product => { %>
      <div class="col-sm-3 " style="padding: 1%; height: 200px;">
        <div style="display: block; text-align: center;">
          <a href=" <%=product[0]%>"  target="_blank">
            <img src="<%= model.case_studies_LinkPic %>"  />
          </a>
        </div>
        <h5 style="text-align: center;  "><%=product[1]%></h5>
      </div>
      <% }); %>
    </div>
  </div>
</div>
<hr class="ondeskhidden"/>

<div class="row" id="feedback<%= model.id %>">
  <div class="col-md-6">
    <h2 class="alignCenter" id="feedback">מה דעתך?</h2>
    <div class="feedback-status">
      <% if (locals.errors){%>
      <div class="alert alert-danger">
        <ul>
          <% errors.forEach(function (error){%>
          <li><%=error.msg%></li>
          <%})%>
        </ul>
      </div>

      <%} else if(locals.successMessage) {%>
      <div class="alert alert-success">
        <%= successMessage %>
      </div>
      <%}%>
    </div>
    <div class="card card-body">
      <div class="col-md-12">
        <div class="maincontent">
          <form class="feedback-form" method="POST" action="/models/feedback">
            <div class="form-group">
              <label for="feedback-form-name">שם מלא</label>
              <input
                type="text"
                class="form-control"
                id="feedback-form-name"
                name="name"
                placeholder="איך קוראים לך?"
                minlength="3"
                maxlength="25"
              />
            </div>
            <div class="form-group">
              <input id="feedback-form-model" name="model" type="hidden" value="<%=model.id%>" />
            </div>
            <div class="form-group">
              <label for="feedback-form-email">דוא"ל</label>
              <input
                type="text"
                class="form-control"
                id="feedback-form-email"
                name="email"
                minlength="3"
                maxlength="35"
                placeholder="כתובת מייל"
              />
            </div>
            <div class="form-group">
              <label for="feedback-form-title">נושא</label>
              <input
                type="text"
                class="form-control"
                id="feedback-form-title"
                name="title"
                minlength="3"
                maxlength="35"
                placeholder="נושא ההודעה"
              />
            </div>
            <div class="form-group">
              <label for="feedback-form-posneg">אהבתם את המודל?</label>
              <select id="feedback-form-posneg" class="form-control" name="posneg">
                <option value="pos">כן</option>
                <option value="neg">לא</option>
              </select>
            </div>
            <div class="form-group">
              <label for="feedback-form-message">גוף ההודעה</label>
              <textarea
                type="text"
                placeholder="'רשמו כאן את ההודעה שלכם ותלחצו על 'שלח"
                class="form-control"
                id="feedback-form-message"
                name="message"
                rows="4"
                minlength="3"
                maxlength="300"
              ></textarea>
            </div>

            <button type="submit" class="btn btn-secondary col-md-12">שלח</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 bc-grey">
    <div class="container mt-4" id="feedback">
      <div class="row">
        <aside class="col-md-12">
          <div class="maincontent feedback">
            <h2 class="alignCenter">תגובות על המודל</h2>

            <div class="feedback-items" id="<%=model.id%>feedback">
              <% var counter = 0 %> <% feedbackData.forEach(function (feedback) {%> <%
              if(feedback.model == model.id){ %> <% if(counter != 3){ %>
              <div class="row">
                <div class="col-10">
                  <div class="feedback-item item-list media-list">
                    <div class="feedback-item media">
                      <div class="feedback-info media-body">
                        <div class="feedback-head">
                          <div class="row">
                            <div class="col-1">
                              <div class="col-1 posneg">
                                <%if (feedback.posneg == "pos") { %>
                                <span style="color: #90c553; font-weight: 700;">+</span>
                                <% } else {%>
                                <span style="color: red; font-weight: 700;">-</span>
                                <% } %>
                              </div>
                            </div>
                            <div class="col-10" style="vertical-align: middle;">
                              <div class="feedback-title" style="font-weight: bold;">
                                <%=feedback.title%>
                              </div>
                            </div>
                          </div>
                          <div class="feedback-message">
                            <hr style="background-color: #fcd437; height: 4px;" />

                            <%=feedback.message%>
                          </div>
                          <hr class="ondeskhidden"/>
                          <small><%=feedback.name%></small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br /><br /><br />
              <% counter ++; %> <% } %> <% } %> <% })%>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      
      <div class="modal-body">

       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
        <!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
</div>
        
        
      </div>

    </div>
  </div>
</div> 
  

<% } 

}

); %>

<!-- FOOTER -->
<%-include(`./partials/footer`) %> <%-include(`./partials/topFunction`) %>
<!-- Modal -->
